# Australian Automotive Market - Descriptive Analysis

In [4]:
import pandas as pd

We are going to analise the Australian Automotive Market with data extracted from the website Autotrader.com. The dataset's author doesn't provide the information about when this data was extracted.

We will try to answer these questions:

1. What are the top 10 veicles sold?
2. What's the avarage mileage of these cars?
3. What's the avarage price of these cars?
4.

## 1. Reading, visualising and describing the dataset

In [5]:
df = pd.read_csv('/kaggle/input/cars-sold-in-australia/cars.csv')

df.head()

,ID,Name,Price,Brand,Model,Variant,Series,Year,Kilometers,Type,Gearbox,Fuel,Status,CC,Color,Seating Capacity
0,11530130,2010 Toyota Rukus Build 2 AZE151R,9999,Toyota,Rukus,Build 2,AZE151R,2010,263000,Wagon,Automatic,Unleaded Petrol,Used,2362,Grey,5
1,12190570,2021 Mercedes-Benz V 250 D Avantgarde MWB 447 ...,117990,Mercedes-Benz,V,250 D Avantgarde MWB,447 MY21,2021,19,Wagon,Automatic,Diesel,New In Stock,2143,Black,7
2,12321855,2021 Mercedes-Benz Valente 116 CDI MWB RWD 447...,79990,Mercedes-Benz,Valente,116 CDI MWB RWD,447 MY21,2021,24,Wagon,Automatic,Diesel,New In Stock,2143,Black,8
3,12346971,2010 Mercedes-Benz E250 CDI Avantgarde 207,34990,Mercedes-Benz,E250,CDI Avantgarde,207,2010,120579,Cabriolet,Automatic,Diesel,Used,2143,Black,4
4,12363884,2016 Holden Cruze CD JH MY16,15990,Holden,Cruze,CD,JH MY16,2016,72506,Sportswagon,Automatic,Unleaded Petrol,Used,1796,White,5

<center> <b> Column meaning </b> </center>

---

**ID:** Vehicle number.

**Name:** Vehicle name.

**Price:** The price of the car.

**Brand:** The brand of the vehicle.

**Model:** Vehicle age.

**Variant:** Vehicle variant.

**Series:** Series of vehicles.

**Year:** Year of manufacture.

**Kilometers:** The number of kilometers the vehicle can run (new vehicles have this attribute 0).

**Type:** Vehicle type (Sedan, Wagon, Coupe,…).

**Gearbox:** Gearbox (Automatic, manual,…).

**Fuel:** Fuel (Oil, gasoline,…).

**Status:** Status (Used, tested,…).

**CC:** Segmentation.

**Color:** Car color.

**Seating Capacity:** Number of seats.

---

In [6]:
df.shape

(17048, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17048 entries, 0 to 17047
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                17048 non-null  int64
 1   Name              17048 non-null  object
 2   Price             17048 non-null  int64
 3   Brand             17048 non-null  object
 4   Model             17048 non-null  object
 5   Variant           17048 non-null  object
 6   Series            17048 non-null  object
 7   Year              17048 non-null  int64
 8   Kilometers        17048 non-null  int64
 9   Type              17048 non-null  object
 10  Gearbox           17048 non-null  object
 11  Fuel              17048 non-null  object
 12  Status            17048 non-null  object
 13  CC                17048 non-null  int64
 14  Color             17048 non-null  object
 15  Seating Capacity  17048 non-null  int64
dtypes: int64(6), object(10)
memory usage: 2.1+ MB

In [51]:
df2 = df.copy()

df2.Status = df2.Status.str.strip()

df2.Status[0]

'Used'