# Sea Level Predictor

We will analyze a dataset of the global average sea level change since 1880. We will use the data to predict the sea level change through year 2050.

## Tasks


- Use Pandas to import the data from ```epa-sea-level.csv```.
- Use matplotlib to create a scatter plot using the ```Year``` column as the x-axis and the ```CSIRO```. ```Adjusted Sea Level``` column as the y-axix.
- Use the ```linregress``` function from ```scipy.stats``` to get the slope and y-intercept of the line of best fit. Plot the line of best fit over the top of the scatter plot. Make the line go through the year 2050 to predict the sea level rise in 2050.
- Plot a new line of best fit just using the data from year 2000 through the most recent year in the dataset. Make the line also go through the year 2050 to predict the sea level rise in 2050 if the rate of rise continues as it has since the year 2000.
- The x label should be ```Year```, the y label should be ```Sea Level (inches)```, and the title should be ```Rise in Sea Level```.

In [1]:
# Importing the necessary libraries

import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress

## Answering the tasks
### 1. Use Pandas to import the data from ```epa-sea-level.csv```.

In [2]:
df = pd.read_csv('/content/epa-sea-level.csv')

df.head()

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level
0,1880,0.000000,-0.952756,0.952756,NaN
1,1881,0.220472,-0.732283,1.173228,NaN
2,1882,-0.440945,-1.346457,0.464567,NaN
3,1883,-0.232283,-1.129921,0.665354,NaN
4,1884,0.590551,-0.283465,1.464567,NaN